/* #region  global*/

body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
a {
  text-decoration: none;
}
button {
  cursor: pointer;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* #endregion */

/* #region logo */
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.logo-dark-text {
  color: #2e2f42;
}
.logo-light-text {
  color: #f4f4fd;
}
/* #endregion */

/* #region header */
.page-header {
  border-bottom: 1px solid #e7e9fc;
}
.page-header > .container {
  display: flex;
  justify-content: space-between;
}
.page-navigation {
  display: flex;
  align-items: center;
}
.page-menu,
.contact-list {
  display: flex;
  gap: 40px;
}
.page-navigation > .logo {
  margin-right: 76px;
}
.nav-links,
.contact-link {
  display: block;
  padding: 24px 0;
}

.nav-links {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.nav-links:hover,
.nav-links:focus {
  color: #404bbf;
  padding-bottom: 0;
}

.nav-links:hover::after {
  content: '';
  display: block;
  background-color: #404bbf;
  width: 48px;
  height: 4px;
  margin: 20px auto 0;
  margin-top: 20px;
}
.contacts {
  font-style: normal;
}
.contact-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.contact-link:hover,
.contact-link:focus {
  color: #404bbf;
}
/* #endregion */

/* #region  main section*/
.main-section {
  background-color: #2e2f42;
  padding: 188px 0;
}

.main-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #fff;
  text-align: center;
  margin-bottom: 48px;
  max-width: 496px;
  margin: 0 auto 48px;
}
.order-btn {
  font-family: 'Roboto', sans-serif;
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
}
.order-btn:hover,
.order-btn:focus {
  background-color: #404bbf;
}
/* #endregion */

/* #region sections global */
.section-paddings {
  padding: 120px 0;
}
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}
.section-sub-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.section-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* #endregion */

/* #region advantages */
.advantages-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.advantages-list-item {
  width: calc((100% - 72px) / 4);
}
.advantages-list-item .section-sub-title {
  margin-bottom: 8px;
}

/* #endregion */

/* #region team */
.team-section {
  background-color: #f4f4fd;
}
.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.team-list-item {
  background-color: #fff;
  width: calc((100% - 72px) / 4);
  border-radius: 0 0 4px 4px;
}

.team-info {
  padding: 32px 0;
}
.team-list-item .section-sub-title {
  margin-bottom: 8px;
  text-align: center;
}
.team-list-item .section-text {
  text-align: center;
}
/* #endregion */

/* #region portfolio*/
.portfolio-list {
  display: flex;
  row-gap: 48px;
  column-gap: 24px;
  flex-wrap: wrap;
}
.portfolio-list-item {
  width: calc((100% - 48px) / 3);
}

.project-info {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.project-info .section-sub-title {
  margin-bottom: 8px;
}

/* #endregion */

/* #region footer */

.footer {
  background: #2e2f42;
  padding: 100px 0;
}
.footer .logo {
  display: inline-block;
  margin-bottom: 16px;
}
.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  width: 264px;
}

/* #endregion */
