/* #region  global*/

body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
a {
  text-decoration: none;
}
button {
  cursor: pointer;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* #endregion */

/* #region logo */
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.logo-dark-text {
  color: #2e2f42;
}
.logo-light-text {
  color: #f4f4fd;
}
/* #endregion */

/* #region header */
.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}
.page-header > .container {
  display: flex;
  justify-content: space-between;
}
.page-navigation {
  display: flex;
  align-items: center;
}
.page-menu,
.contact-list {
  display: flex;
  gap: 40px;
}
.page-navigation > .logo {
  margin-right: 76px;
}
.nav-links,
.contact-link {
  display: block;
  padding: 24px 0;
}

.nav-links {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-links.active {
  color: #404bbf;
}
.nav-links:hover,
.nav-links:focus {
  position: relative;
  color: #404bbf;
}
.nav-links:hover::after,
.nav-links:focus::after {
  content: '';
  display: block;
  position: absolute;
  left: 0px;
  bottom: -1px;
  background-color: #404bbf;
  border-radius: 2px;
  width: 100%;
  height: 4px;
}
.contacts {
  font-style: normal;
}
.contact-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-link:hover,
.contact-link:focus {
  color: #404bbf;
}
/* #endregion */

/* #region  main section*/
.main-section {
  background-color: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/bg-people-office.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1440px;
  margin: 0 auto;
  padding: 188px 0;
}

.main-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #fff;
  text-align: center;
  margin-bottom: 48px;
  max-width: 496px;
  margin: 0 auto 48px;
}
.order-btn {
  font-family: 'Roboto', sans-serif;
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.order-btn:hover,
.order-btn:focus {
  background-color: #404bbf;
}
/* #endregion */

/* #region sections global */
.section-paddings {
  padding: 120px 0;
}
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}
.section-sub-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.section-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* #endregion */

/* #region advantages */
.advantages-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.advantages-list-item {
  width: calc((100% - 72px) / 4);
}

.icon-container {
  border: 1px solid #8e8f99;
  border-radius: 4px;
  width: 264px;
  height: 112px;
  margin-bottom: 8px;
  background: #f4f4fd;
  display: flex;
  justify-content: center;
  align-items: center;
}

.advantages-list-item .section-sub-title {
  margin-bottom: 8px;
}

/* #endregion */

/* #region team */
.team-section {
  background-color: #f4f4fd;
}
.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.team-list-item {
  background-color: #fff;
  width: calc((100% - 72px) / 4);
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-info {
  padding: 32px 0;
}
.team-list-item .section-sub-title {
  margin-bottom: 8px;
  text-align: center;
}
.team-list-item .section-text {
  text-align: center;
}

.social-links-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.team-info .section-text {
  margin-bottom: 8px;
}
.social-links-list-item {
  width: 40px;
  height: 40px;
}
.social-link {
  background-color: #4d5ae5;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:hover,
.social-link:focus {
  background-color: #404bbf;
}

/* #endregion */

/* #region portfolio*/
.portfolio-list {
  display: flex;
  row-gap: 48px;
  column-gap: 24px;
  flex-wrap: wrap;
}
.portfolio-list-item {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list-item:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
  cursor: pointer;
  border: 1px solid #f4f4fd;
}
.portfolio-img-overlay-wrapper {
  position: relative;
  overflow: hidden;
}
.portfolio-list-item:hover .portfolio-overlay-text {
  transform: translateX(0);
}
.portfolio-overlay-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  background-color: #4d5ae5;
  padding: 40px 32px;
}

.project-info {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.project-info .section-sub-title {
  margin-bottom: 8px;
}

/* #endregion */

/* #region footer */

.footer {
  background: #2e2f42;
  padding: 100px 0;
}
.footer-container {
  display: flex;
  align-items: baseline;
}
.footer-text-wrap {
  margin-right: 120px;
}
.footer .logo {
  display: inline-block;
  margin-bottom: 16px;
}
.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  width: 264px;
}

.social-media-footer-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}
.social-media-links-list {
  display: flex;
  gap: 16px;
}
.social-media-links-list-item {
  width: 40px;
  height: 40px;
}

.social-media-link {
  width: 100%;
  height: 100%;

  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-media-link:hover,
.social-media-link:focus {
  background-color: #31d0aa;
}
.social-media-icon {
  fill: #f4f4fd;
}

/* #endregion */
